* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: "Noto Sans", sans-serif;
    background-color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.navigation {
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.container-width {
    width: 90%;
    margin: auto;
}

.menu {
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.menu-left {
    width: 30%;
    height: 100%;
}

.menu-center {
    width: 25%;
    /* background-color: rgb(231, 180, 13); */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu-right {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: end;
}

/* menu-left */
.menu-left>ul {
    display: flex;
    gap: 8px;
    font-weight: 600;
    text-transform: uppercase;
    height: 100%;
    align-items: center;
}

.menu-left>ul>li {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.menu-left>ul>li:hover {
    background-color: #dddada;
    cursor: pointer;
}

/* Menu Center */
.menu-center>img {
    width: 120px;
}

/* Menu Right */

.menu-right>ul {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
}

/* Field search */
.menu-right>ul>li:first-child {
    height: 100%;
    padding: 8px 0;
}

.btn-search {
    width: 180px;
    height: 100%;
    border: 2px solid gray;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
}

.btn-search>input {
    height: 100%;
    border: none;
    background-color: #eee;

}

.btn-search>input:focus {
    outline: none;
}

.btn-search>span {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.menu-right>ul>li {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.menu-right>ul>li:hover:not(:first-child) {
    background-color: #dddada;
    cursor: pointer;
}

/* slide */
.slide {
    margin: auto;
    /* background-color: aqua; */
    height: 800px;
}

.item-slid {
    width: 100%;
    height: 100%;
    position: relative;
}

.btn-container {
    position: absolute;
    bottom: 10%;
    /* background-color: blue; */
    left: 38%;
    display: flex;
    gap: 40px;
}

.btn-container>button {
    padding: 15px 25px;
    border-radius: 5px;
    border: 3px solid #fff;
    box-shadow: rgb(57, 57, 57) (0, 0, 0, 0.35) 0px 5px 15px;
    outline: none;
    background-color: transparent;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    transition: all 0.3s;
}

.btn-container>button:hover {
    transform: translateY(-3px);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* brand */
.brand {
    height: 150px;

    margin-top: 10px;
    display: flex;
    gap: 1%;
}

.box-brand {
    width: 15.83%;
    height: 100%;
}

.box-brand>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* lift */

.life-style {
    height: 630px;
    display: flex;
    gap: 1.25%;
}

.box-life-style {
    width: 30%;
    height: 100%;
    object-fit: cover;
}

.box-life-style>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.life-style-bottom {
    display: flex;
    gap: 1%;
    height: 900px;
    margin-top: 15px;
}

.life-style-bottom-box {
    width: 49.5%;
    background-color: rebeccapurple;
    border-radius: 5px;
    overflow: hidden;
}

.life-style-bottom-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* slid items */
.container-item {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-txt-slid {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slid-items {
    width: 100%;
    height: auto;
    display: flex;
    gap: 1%;
}

.items {
    width: 20%;
    height: 770px;
    position: relative;
    /* background-color: mediumslateblue; */
}

.items>div {
    height: 100%;
    width: 100%;
}

.img-item {
    height: 75%;
    width: 100%;
}

.img-item>img {
    width: 100%;
    /* object-fit: cover; */
}

.description {
    width: 100%;
    height: 25%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 15px 7px;
}

.txt {
    color: black;
}

.txt ul {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.txt ul li {
    height: 18px;
    width: 18px;
    border-radius: 3px;
}

.txt ul li:first-child {
    background-color: black;
}

.txt ul li:nth-child(2) {
    background-color: rgb(153, 220, 18);
}

.txt ul li:last-child {
    background-color: red;
}

.dis {
    background-color: red;
    position: absolute;
    padding: 3px 8px;
    left: 10px;
    top: 10px;
    color: whitesmoke;
    border-radius: 5px;
}

.txt-brand {
    position: absolute;
    right: 0;
    bottom: 27%;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-weight: bold;
}

.footer {
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    gap: 0.2%;
    position: relative;
}

.footer>div {
    width: 16.25%;
}

.footer>div>h1 {
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
}

.footer>div>img {
    width: 50%;
    height: 140px;
    display: block;
    margin: auto;
    object-fit: cover;
}

.txt-footer {
    display: flex;
    justify-content: left;
    text-align: left;
}

a {
    color: black;
}

.footer>div>ul>li {
    margin-top: 4px;
}

.footer>div>ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer>div>ul>li>a {
    color: black;
}

.footer::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #797777;
    position: absolute;
    bottom: -20%;
    left: 0;
}
.reserved{
    width: 90%;
    margin: auto;
    text-align: end;
    margin: 25px auto;
}
swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}